[2018-05-03 22:36] Hasimir opened #1 "Just to clarify the kernel level here"
In the quickstart example's description of an enclave it says:

Am I reading this correctly; that what you've effectively done is re-implemented a microkernel, except without the microkernel (i.e. it doesn't matter if it's a microkernel or a monolithic kernel under the hood)?

[2018-05-04 01:58] ellipticasec opened #2 "Provide more info on signing production SGX enclaves"
It'd be important to get some more practical information on how to sign production enclaves. I think one needs to request an enclave signing certificate from Intel.

[2018-05-04 18:44] MWShan commented on #2
For the signing of production enclaves, you can follow the steps outlined here to request that your key be included in the whitelist: [https://software.intel.com/en-us/sgx/commercial-use-license-request ](url)

[2018-05-04 18:56] KeithMoyer commented on #2
[Clickable link](https://software.intel.com/en-us/sgx/commercial-use-license-request)

[2018-05-04 22:13] deeglaze commented on #1
Asylo is not a microkernel and does not intend to be a microkernel. Certainly there are similarities, but our design does not intend to implement an entire operating system. The framework will implement some security-critical system calls itself, or simply pass through the call to the untrusted environment for the host OS to perform. The separation between trusted code (small, highly vetted, prote

[2018-05-04 22:18] deeglaze commented on #1
I'm closing this issue because it is not a bug or feature request.

Please use the [asylo-users@](https://groups.google.com/forum/#!forum/asylo-users) Google group or asylo tag on [Stack Overflow](https://stackoverflow.com/questions/tagged/asylo) in the future for such questions. We would like to reserve the GitHub issues space for bug reports and feature requests. User support is best delegated t

[2018-05-04 22:18] #1 closed

[2018-05-04 22:55] KeithMoyer commented on #2
It looks like @MWShan's (affiliated with Intel, not Asylo) reply answers your question.  If that's not the case, feel free to reopen this issue.

[2018-05-04 22:55] #2 closed

[2018-05-05 01:48] Hasimir commented on #1
All right, that's a little more clear, thanks.

As for experimentation, [we](https://gnupg.org) may find a use for a container like this, particularly if the cryptographic component plays nicely with our own or with something else supported by libgcrypt, but we'll see.  No promises.

[2018-05-14 09:11] elfring opened #3 "Remove unnecessary null pointer checks"
[An extra null pointer check is not needed in functions](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for null before delete p?") like the following.
- [SetEnclaveConfig](https://github.com/google/asylo/blob/ac598c5266e36312d18fcdaa55efbc780af88975/asylo/platform/core/fake_trusted_global_state.cc#L50 "SetEnclaveConfig function")
- [SetEnclaveName](https://gith

[2018-05-16 06:00] udaysavagaonkar commented on #3
Thank you for pointing this out--we will address this in coming days.

[2018-05-23 18:21] #3 closed

[2018-05-23 18:42] elfring commented on #3
Thanks for [your small source code improvement](https://github.com/google/asylo/commit/8dd6e46cd156ff161d549921c48f050561c29bfd "Deletion of a few unnecessary checks").

[2018-05-25 11:47] TitouanLazard opened #4 "BUILD Files in /examples/"
Hey,
I am not sure it is a real issue, but the examples provided in /examples/ can not be built.
Bazel rises errors about the "enclave_loader" symbole which is not defined anywhere.

It works well if I use the BUILD file provided in "https://asylo.dev/asylo-examples.tar.gz", where "enclave_loader" is replaced by "debug_enclave_driver".
The BUILD file presented in "/examples/quickstart/README.md",

[2018-05-30 00:20] KeithMoyer commented on #4
Thank you for reporting this issue.

The bazel macros recently underwent some refactoring (see commit 0e017848cc5ef89b6506d26a72ec1afec23bba4e), and `enclave_loader` is now the preferred rule to use.  `debug_enclave_driver` is marked as deprecated and will be removed at some point in the future.

The issue you report arises from the fact that the examples were written with the intent that they cou

[2018-05-30 08:45] TitouanLazard commented on #4
Hi,

Thank you for the clarification.
Do I close the issue now ? Or I wait for the new WORKSPACE to be pushed ?

[2018-05-30 17:11] KeithMoyer commented on #4
Titouan,

This is definitely still an issue.  Let's keep it open until a proper fix is submitted.

[2018-05-31 21:57] madhavsuresh opened #5 "SGX hardware mode"
Hi,

Is it possible to use Asylo in hardware mode? In particular, would anything in asylo break if the signed enclave shared object is linked against the hardware trts_library, and hardware service_library. Have there been complications in linking Asylo against the hardware libraries/running in hardware?

Btw, this project is really cool, thank you!

[2018-06-04 09:25] light1021 opened #6 "SGX with protobuf"
Hi, Asylo uses protobuf for trustapplication  enclave input and output, but as far as I know Protobuf can not be used inside an enclave due to some io problem, like iosfwd..  Then how can asylo work with SGX ? Thanks!
Regards
you.w.l

[2018-06-04 17:22] KeithMoyer commented on #6
We are not aware of any issue with using Protocol Buffers inside of Asylo enclaves.  In fact, you can see them in use with our [available examples](https://github.com/google/asylo/tree/master/asylo/examples).  Could you clarify the issues you are having?

[2018-06-04 17:40] matthewgingell commented on #5
Hi madhavsuresh,

That isn't a scenario we support yet, but we aren't aware of any technical complications other than tricky build config / linkage stuff.

There are a few reasons we haven't released SGX hardware support: We haven’t done enough testing to be comfortable supporting hardware, and our support for some important features like remote attestation is still incomplete. For now, we want to

[2018-06-04 17:40] #5 closed

[2018-06-04 23:58] KeithMoyer commented on #4
Note that with the 0.2.1 release that just occurred, the examples directory is directly buildable on the master branch again.

I would, however, like to keep this issue open until the project layout is change in such a way that this would not occur with any similar, future changes.

[2018-06-05 03:50] light1021 commented on #6
Hi, Thanks for answering my question. I haven't try those examples in Asylo. I have tried protobuf with original SGX SDK, but it doesn't work. I will try those examples latter. Thanks
Regards
You.W.l

[2018-06-05 05:58] KeithMoyer commented on #6
Yes, what Asylo provides is a broad platform, not merely a wrapper around any given backend technology. We currently have support for C++11 and a broad (and ever growing) subset of POSIX, which allows the use of lots of things not typically thought of as being in an enclave.

For future questions about support, I think the [asylo-users](https://groups.google.com/forum/#!forum/asylo-users) list mig

[2018-06-05 05:58] #6 closed

[2018-06-29 00:38] py-ae opened #7 "hello-world symbol problem"
Hello Asylo Team,
I am trying to run the hello-world example manually without Docker and the build keeps failing with the following error:
[code]
I've tried running with the '--copt="-fpic"' and '--force_pic' arguments but have had no luck.
Any tips? Thank you!

[2018-06-29 01:29] KeithMoyer commented on #7
Thank you for your report.

We actually just started seeing this a couple of hours ago as well.  I have traced it back to an upgrade to Bazel 0.15.0; downgrading to Bazel 0.14.0 has resolved the issue for us (note: the Asylo build container image is still using Bazel 0.14.0 and is unaffected, but I know you are not using that).

Can you try that as a workaround?  I will continue to see what has ch

[2018-06-29 22:10] KeithMoyer commented on #7
The changes in 2975aea2ce0f9fac97ecbe839185f031ca36260b should add the needed changes to use Bazel 0.15.0.  They somewhat refactored how linker flags are passed through crosstools, and there was just some more instructions needed in the CROSSTOOL file in order to continue passing in the linkopts flags as they were before.

[2018-06-29 22:10] #7 closed

[2018-08-01 19:04] mr-ma opened #8 "BoringSSL wrapper and trusted hardware"
I wonder if the current ``BoringSSL`` wrapper is actually benefiting from the trusted hardware. Simply put, are the secrets (private key, session key, etc.) allocated inside enclaves?

[2018-08-01 22:41] deeglaze commented on #8
Will you please elaborate on what you mean by "allocated inside enclaves"? Do you mean actual memory allocation, the creation of keys from a random source, or how one gets secret keys into an enclave from an untrusted environment?

[2018-08-02 08:29] mr-ma commented on #8
Yep, more specifically, I'm curious to know if private keys, session keys used to communicate with clients, and all the code related to the TLS protocol implementation (e.g. ``SSL_read()`` and `SSL_write()`) are placed inside enclaves.
Right now, I'm more concerned about the runtime protection of TLS in hostile environments. Secure secret provisioning would be the next problem to tackle.

[2018-08-02 17:03] deeglaze commented on #8
Every instance of memory allocation, either via the stack, malloc, or new, are all internal to enclaves. The enclave heap is entirely within the enclave memory, and the BoringSSL code is statically linked into Asylo enclave object files, so everything is within the enclave.

It is very awkward to write memory outside of the enclave. The only interface that does it is our boundary-crossing code. Yo

[2018-08-03 12:46] mr-ma commented on #8
Thanks for the clarification. This is actually convenient.
However, shipping the entire TLS library into an enclave yields an excessive code base residing in trusted regions, which is in some cases undesirable (see the main motivation behind [Glamdring](https://www.usenix.org/conference/atc17/technical-sessions/presentation/lind))

IMO it would be very useful to have a trusted BoringSSL library in

[2018-08-06 18:15] deeglaze commented on #8
Okay, yes. Asylo currently doesn't have a lightweight way to call out of the enclave to user-defined interfaces/library wrappers. You can achieve this by using gRPC to make RPCs out of the enclave. This is an interesting offering for minimizing the TCB, so we'll keep it in mind for our roadmap.

I'll keep this issue open and edit the title to track this feature request.

[2018-08-21 20:55] py-ae opened #9 "Query: GDB and debugging"
Hello Asylo team,

I've been trying step through the hello_world example (manual installation not Docker container) with GDB but am unable to properly read symbols.  More specifically, I'm trying GDB on the hello_world_host_loader but getting "no debugging symbols found".
I have tried building the example with the Bazel options --strip=never and --compilation_mode=dbg but have had no luck.
Do you

[2018-08-21 20:58] deeglaze commented on #9
Yes, Keith has recently addressed this same question on the asylo-users Google Group https://groups.google.com/d/msg/asylo-users/OMVJW6hOgiM/PlDsdX1kDgAJ

Please reopen with comments if this does not solve your issue :)

[2018-08-21 20:58] #9 closed

[2018-08-23 00:01] KeithMoyer commented on #4
After 8d42b53cc784e804882a397d9e12dfb8c7782669 (included in Ayslo [0.2.2](https://github.com/google/asylo/releases/tag/v0.2.2)), the examples directory no longer attempts to use Asylo as an external resource.  Instead, it incorporates itself into the Asylo workspace, but still uses Bazel visibility to make sure it doesn't use any parts of Asylo that external clients couldn't use.
The [asylo-exampl

[2018-08-23 00:01] #4 closed

[2018-09-28 09:55] nathanawmk opened #10 "Does Asylo enclave model maps transparently to Keystone (Open-source Secure Hardware Enclave)"
Does Asylo enclave model map transparently to Keystone (Open-source Secure Hardware Enclave)?

If yes, are there code samples?

Nathan Aw (Singapore)

[2018-11-28 19:55] py-ae opened #11 "Manual Installation Errors"
Hello,

I'm going through the manual installation of the newest version of Asylo and I'm running into a couple of errors.  I've updated all the dependencies and Bazel and I'm trying to do the bazel run of hello_world in simulation mode.

1. The tutorial doesn't seem to name the SGX toolchain installed by the Asylo sdk's install-toolchain properly:

I changed the line in BUILD from

to

and that se

[2018-11-29 23:04] deeglaze commented on #11
Thanks for your report, we have a fix for your first issue that will be coming out shortly. Your instincts were right to change the toolchain_identifier. The CROSSTOOL.tpl file in distrib/sgx_x86_64 contains a toolchain_identifier that should be updated to asylo_sgx_x86_64 instead of changing BUILD.tpl (or the output BUILD file) to remove the "asylo_" prefix. We didn't catch it since our tests fel

[2018-11-29 23:08] KeithMoyer commented on #11
py-ae,

What compiler do you have installed*? We recently added in additional implicit conversions to our StatusOr implementation (commit c095d250d18eeeedeca084e4309a236a3370d4d2) and changed the code that is giving you issues to rely on it (commit faf1607181deea45f836e8dd8c8685fc21694580). This had no issues on the compilers that we tried, but we may not have tried what you use.

* Note: while ou

[2019-01-05 10:19] akevy opened #14 "Will you support ARM trustzone?"
Will you support ARM trustzone?

[2019-01-14 13:23] jamesdbloom opened #15 "Error during platform posix build"
I did a manual installation inside a centos/7 VM (via vagrant) as follows:

[code]

However I got the following error when I run the build of the `grpc_server` example

[code]

This appeared to be fixed when I modified the following section of the platform posix build `/asylo/platform/posix/BUILD` file.

From:

[code]

To:

[code]

This can easily be reproduced by running the vagrant file and tryi

[2019-01-14 17:04] jelson commented on #15
Can you try adding "--config=sgx" or "--config=sgx-sim" to your bazel build
command?

On Mon, Jan 14, 2019 at 5:23 AM James D Bloom <notifications@github.com>
wrote:

[2019-01-14 19:16] jamesdbloom commented on #15
I get a different error then, as follows:

[code]

[2019-01-14 19:30] deeglaze commented on #15
Amendment, since the prefix extends "${ASYLO}", the installation_path
should be, rather, /home/jamesdbloom/asylo/toolchains/sgx_x86_64

On Mon, Jan 14, 2019 at 11:29 AM Dionna Glaze <drdeeglaze@gmail.com> wrote:

[2019-01-14 20:13] jamesdbloom commented on #15
The only directories matching sgx_x86_64 on my machine are as follows:

[code]
As far as I'm aware the instruction above are directory copied from the manual instal steps.  Is one of them incorrect?

[2019-01-14 20:45] jamesdbloom commented on #15
I appear to have the error below despite having run

[code]

[code]

[2019-01-14 21:08] KeithMoyer commented on #15
James,

Does the output of the "install-toolchain" command have errors?

It looks to me as though your "yum" command is using Debian package names instead of CentOS package names, so I expect that the build dependencies for "install-toolchain" are not being satisfied. Once that happens, the toolchain will not be installed and the build will not be able to find it.

Can you check if that lines up w

[2019-01-14 21:20] jamesdbloom commented on #15
Yes the error from the "install-toolchain" is:

[code]

None of the yum packages fail to install or show any errors so I assumed the package name must match.  Do you know that not to be correct?

[2019-01-14 21:21] jamesdbloom commented on #15
The target system is centos but I could try building everything in debian, I assume that wouldn't cause any issues?

[2019-01-14 23:23] jamesdbloom commented on #15
By switching to debian I managed to get further but still getting an error, as follows:

[code]

[2019-01-14 23:55] KeithMoyer commented on #15
It looks like parts of GCC don't build when you don't have ISL, but you may be okay without them.

With a couple of other tweaks to your commands (you're attempting to install a package called update instead of updating, the second occurrence of ocaml packages are named incorrectly (but they're already installed properly beforehand), and there's no package called openjdk-8-jdk-headless (but it can

[2019-02-20 01:39] overunix opened #16 "Query: can I use secure storage interface with c++ instead of raw poxis interface ?"
Hi Dears,

I saw there is posix io interface for secure storage under "asylo/platform/storage/secure", where I need to manually set the encryption key with ioctl and mode with O_SECURE.

Can I use this feature via c++ fstream, i.e. how can I set the key and how can I refer this is an encrypted file ?

[2019-02-20 02:17] overunix opened #17 "Query: thread local support when migrating existing codes to enclave with asylo"
Dears,

I mean to use asylo to migrate existing C++ codes to enclave. Previously I cannot use ***thread local*** unless I set the TCSPolicy=0 (bound to untrusted thread).
The existing codes have lots of thread creation/destroy operations. I this case, I am worrying setting tcspolicy=0 will run out of TCSs.

So am I suggested to set tcspolicy=0 and config enough TCSNums in this case ?

[2019-02-21 02:33] hf commented on #17
Hi,

Enclave threads are not really like normal threads. It's a complex subject,
but basically setting a TCSPolicy of 1 is required. It doesn't make the
enclave less secure, it only means that an OS thread can return to the
enclave TCS without reentering it "from a clean slate," i.e. continue from
where the enclave yielded via the SGX mutex and condition variable
functions in the SDK. By reenterin

[2019-02-21 02:35] hf commented on #17
Sorry, reverse of what I said. 0 is for yielding, 1 is limiting.

On Thu, 21 Feb 2019, 03:33 Stojan Dimitrovski <sdimitrovski@gmail.com wrote:

[2019-02-21 03:31] overunix commented on #17
@hf I agree with what you say about thread local behavior. I was worrying if tcs is not bounded,  different ecalls from the same OS thread might suffer from the purged thread local variables.
But now since asylo put all inside the enclave, it is not a problem since the same os thread wont perform mutiple ecalls into the enclave, as the thread function will be defined inside enclave in asylo.
So I

[2019-02-21 05:17] #17 closed

[2019-02-25 19:11] IonesioJunior opened #18 "wget not avaible at asylo docker image"
I was following the quick start guide to asylo applications and replicating the steps. I noticed that although in dockerfile the wget application is among the applications installed during the construction of the docker image, while running the image, the wget application is not installed. Is the docker image of this link updated?

Asylo Image : gcr.io/asylo-framework/asylo

[2019-02-25 19:46] KeithMoyer commented on #18
Yes, that image is up-to-date. In the Dockerfile, wget is installed during the first temporary image, where the toolchain is built. It is not needed to use Asylo or build Asylo applications, so it is not installed in the final image. You can install it into a container or container image you create based this one, though.

[2019-02-26 03:27] overunix commented on #18
the "wget xxx" instruction is mean to run at docker host machine and then mapped into docker

[2019-02-28 20:47] IonesioJunior commented on #18
Ohh, thanks. I did not notice the temporary containers.

[2019-02-28 20:47] #18 closed

[2019-03-04 22:38] KeithMoyer commented on #16
Currently, the only way to configure the secure storage system is through the O_SECURE + ioctl interface you discovered. However, we have plans to create additional ways for configuring secure storage that would not be tied to the file descriptor-based interfaces.

Theoretically, one could use the non-standard __gnu_cxx::stdio_filebuf interface to create a C++ stream on top of a file descriptor. A

[2019-03-05 02:31] overunix commented on #16
Thanks Keith.

[2019-03-05 02:31] #16 closed

[2019-03-06 23:55] anahitH opened #19 "Errors when building primitives' example"
Hi.
I’m having problems when trying to build the example in platform/primitives/examples
I’ve built the docker image from Dockerfile and for building the example I’m following the steps in README.

First, when building hello_enclave with
          `bazel build :hello_enclave.so --config=asylo --define=ASYLO_SIM=1`
I get an error saying that config value asylo is not defined.

Second, when building

[2019-03-07 05:15] deeglaze commented on #19
The enclave.bazelrc file did not get updated, and we didn't properly rewrite the flags initialization command to use the namespace gflags uses (`google::`). We'll get this fixed soon. Meanwhile, you can add the namespace qualification to `ParseCommandLineFlags` and add the following lines to enclave.bazelrc to define --config=asylo:

[code]
The untrusted_sim build target should get `linkopts = ["-

[2019-03-13 00:49] #19 closed

[2019-03-13 14:53] anahitH commented on #19
thank you @deeglaze, this helped a lot

[2019-04-15 20:55] tgamal opened #20 "Address family not supported by protocol family","errno":106"
am trying to get this gRPC server example to work with Google Asylo (https://github.com/google/asylo/tree/master/asylo/examples/grpc_server).. To initialize the server I need to a specify a server_address in this config file (https://github.com/google/asylo/blob/master/asylo/examples/grpc_server/grpc_server_config.proto)

The server address in the example is written like this:

[code]

I am not su

[2019-04-15 23:21] annasapek commented on #20
Are you getting this error when running [these commands](https://github.com/google/asylo/tree/master/asylo/examples/grpc_server#interacting-with-the-server) on the unmodified example? If not, can you let me know what command you ran and what version of Asylo you are using?

This example was written to require IPv6 so if your system doesn't support IPv6 (for instance, most default Docker installati

[2019-04-17 17:33] tgamal commented on #20
Thanks @annasapek , the change you suggested solved my problem.

[2019-04-17 17:33] #20 closed

[2019-04-23 01:31] shpark opened #23 "Broken links and version mismatch in manual instruction guide"
Asylo manual instruction [guide](https://github.com/google/asylo/blob/master/INSTALL.md) has broken links and version mismatch.

The `master` branch now uses SGX SDK version 2.4, but the page says it is using SGX SDK 2.3 and the corresponding link is broken.

[2019-04-25 18:36] #23 closed

[2019-05-15 05:15] MatthewShine opened #25 "Does asylo only support C++ ？"
I am only familia with jave EE project。is it diffcult to use asylo for buliding a enclave env?

actually, we want run a python server with ML mode in enclave。 is asylo canbe a solution for this?

reading english is still diffcult for me . I dont know weather i should spend time on docs or not?

[2019-05-30 16:07] Ruide opened #28 "inside docker container, bazel cannot build sgx hardware mode"
Hi,

I am building asylo using hardware mode with the following command:

docker run -it --rm \
	--device=/dev/isgx \
	-v /var/run/aesmd/aesm.socket:/var/run/aesmd/aesm.socket \
    -v bazel-cache:/root/.cache/bazel \
    -v "${MY_PROJECT}":/opt/my-project \
    -w /opt/my-project \
    gcr.io/asylo-framework/asylo \
    bazel run --config=sgx //hello_world -- --names="${NAMES}"

However, it says

[2019-05-30 16:41] Ruide opened #29 "outdated description in manual installation description asylo/INSTALL.md"
Hi,

I find some descriptions might need update as following.

1.
"${ASYLO}"/sdk/asylo/distrib/sgx_x86_64/install-toolchain \
    --user \
    --prefix "${ASYLO}"/toolchains/sgx_x86_64

may need to be updated to

"${ASYLO}"/sdk/asylo/distrib/toolchain/install-toolchain \
    --user \
    --prefix "${ASYLO}"/toolchains/sgx_x86_64

or else. Since the install-toolchain script is relocated.

2.

The l

[2019-05-30 16:42] deeglaze commented on #25
Yes, Asylo is C++ only for now.

[2019-05-30 16:42] #25 closed

[2019-05-30 16:43] deeglaze commented on #11
Closing due to inactivity.

[2019-05-30 16:43] #11 closed

[2019-05-30 17:31] KeithMoyer commented on #25
@MatthewShine,

As @deeglaze mentioned, Asylo only supports C++ right now. This is not, however, an explicit goal of Asylo. Supporting additional languages would be something we would like to do; we just haven't been able to prioritize adding that support.

Python and Java, specifically, would add a layer of difficulty because the actual executable code is the interpreter / VM. The functional part

[2019-05-30 17:51] KeithMoyer commented on #28
@Ruide, this looks like the same issue as reported on the asylo-users mailing list (https://groups.google.com/d/msg/asylo-users/0qMD6TnoKQU/YEoKqKU-CQAJ). The solution is to add
[code]
to the `WORKSPACE` file. We have addressed this issue at HEAD (https://github.com/google/asylo/commit/4098317c751197d975832719d8a8b515719ea74c) and it will be fixed in our next release. However, the examples tarball

[2019-05-30 17:52] KeithMoyer commented on #28
Oh, I see you edited your initial post that you already found the solution! :-D

Sorry for the trouble.

[2019-06-04 21:49] #29 closed

[2019-06-04 22:42] KeithMoyer commented on #29
Good catch, Ruide! Fixed :-)

[2019-06-05 11:56] shpark opened #31 "Is asylo_redis example documentation broken?"
Hi, I am trying out building asylo examples and found that `asylo_redis` documentation didn't work for me.

After trial and error and thanks to #28, I was able to make it work.

I am not sure whether I was wrong or the documentation itself was misleading, since I am totally new to Bazel build system ;)

I will file a PR. Could you please take a look?

FYI, I am building `asylo_redis` without Docke

[2019-06-06 11:38] kamathhrishi opened #33 "ERROR: no such package '@com_google_asylo_toolchain//toolchain"
ERROR: no such package '@com_google_asylo_toolchain//toolchain': Traceback (most recent call last):
	File "/root/.cache/bazel/_bazel_root/6f5dfd08c182635f43c28327b7ed358d/external/com_google_asylo/asylo/bazel/asylo_deps.bzl", line 94
		installation_path(repository_ctx, "default_toolchain...", <3 more arguments>)
	File "/root/.cache/bazel/_bazel_root/6f5dfd08c182635f43c28327b7ed358d/external/com_go

[2019-06-06 17:56] deeglaze commented on #33
It appears that you are attempting to run outside the docker container. Please run the asylo/distrib/toolchain/install-toolchain script to install the cross-compiler that Asylo requires to build enclave binaries.

[2019-06-06 18:08] kamathhrishi commented on #33
Yeah I realized. Thank you :)

[2019-06-06 18:08] #33 closed

[2019-06-22 12:10] jopasserat opened #34 "Cannot run simulation mode on non-SGX machine"
On a fresh AWS VM **without** SGX capability, the simulation mode described in the [hello world example](https://github.com/google/asylo#running-the-hello_world-example) doesn't work:

[code]
The VM runs a stock Ubuntu 18.04, with no customisation, just Docker CE 18.09 installed.

The same example **runs fine on my SGX-enabled laptop** (Debian testing).

[code]

Does the simulation mode need an SG

[2019-06-24 15:32] justin1121 commented on #34
I dug into this a little bit in related to this https://github.com/dropoutlabs/tf-trusted/issues/20 and it looks like it breaks because the `t3a.2xlarge` machine on AWS uses an AMD processor. Any chance asylo will support AMD CPUs for simulation?

[2019-06-25 00:06] jopasserat commented on #34
confirmed! that did it, well spotted @justin1121

[2019-06-25 00:06] #34 closed

[2019-06-25 00:06] jopasserat commented on #34
You might want to make that clear in the doc though

[2019-06-25 07:51] vishwajit123 opened #35 "ERROR enclave_manager.cc : 302 : LoadEnclave failed: ::asylo::error::SgxErrorSpace::Cannot open SGX device: Failed to create an enclave"
Ubuntu 16.04
Using asylo 0.3.2

ERROR  enclave_manager.cc : 302 : LoadEnclave failed: ::asylo::error::SgxErrorSpace::Cannot open SGX device: Failed to create an enclave
Aborted (core dumped)

The same enclave was running without any changes (AFAIK). Please help explain what could cause this issue.

[2019-06-25 17:23] deeglaze commented on #35
"Cannot open SGX device" is the error you receive when running non-simulation SGX builds on a machine without SGX (or with SGX but the platform software not installed and running). Are you running with --config=sgx or --config=sgx-sim?

[2019-07-02 11:47] mariomvk opened #36 "processor usage"
Hi,

I have problems with running grpc server inside SGX enclave with asylo.
Everything works but processor usage is strange.
Even when grpc server is running in idle 4 processor cores are used 100%

This can easily be reproduced by running grpc_server example from https://asylo.dev/asylo-examples.tar.gz

Could you please take a look?

![image](https://user-images.githubusercontent.com/3204790/605

[2019-07-18 17:55] KeithMoyer commented on #36
Thanks, Mario.

This is an issue we've seen as well, and we've had discussions on how to best fix it. We'll try to get it addressed soon.

[2019-07-18 17:57] KeithMoyer commented on #31
Fixed by #32

Thanks, again!

[2019-07-18 17:57] #31 closed

[2019-07-18 17:58] KeithMoyer commented on #28
This should be fixed in the latest release (0.4.0).

[2019-07-18 17:58] #28 closed

[2019-07-18 18:00] KeithMoyer commented on #15
If you're still having difficulty getting your build chain set up, please follow up on the asylo-users mailing list.

Since there hasn't been any activity here in a while and no issues with Asylo were identified, I'm going to close this bug for now.

[2019-07-18 18:00] #15 closed

[2019-07-29 15:18] kamathhrishi opened #37 "Issue while installing Toolchain"
The error I get

`/home/hrishikesh/downloads/asylo/sdk/newlib-2.5.0.20170922/libgloss/enclave/enclave.c:62:5: note: previous definition of '_open' was here
 int _open(char *file, int flags, int mode)
     ^~~~~
/home/hrishikesh/downloads/asylo/sdk/newlib-2.5.0.20170922/libgloss/enclave/enclave.c:167:5: error: redefinition of '_read'
 int _read(int file, char *ptr, int len)
     ^~~~~
/home/hrishik

[2019-07-29 17:27] KeithMoyer commented on #37
@kamathhrishi, could you provide more information on how you set up the environment (including what OS you're using) and invoked this command? It's possible our install-toolchain script has an issue when run multiple times or doesn't interact well with the version of some utility in your environment (e.g., patch behaving differently when creating a new file).

From the error messages, it looks to

[2019-07-30 10:39] kamathhrishi commented on #37
@KeithMoyer I guess that's exactly the reason. What can I do about it?

[2019-07-30 17:39] KeithMoyer commented on #37
@kamathhrishi, could you provide more information on how you set up the environment (including what OS you're using) and invoked this command? It's possible that simply deleting the newlib sources that were downloaded/patched would be sufficient, but I'd like to understand how you got here so we can update our scripts to avoid it for others.

[2019-07-30 18:58] deeglaze commented on #37
This happens when you run the install toolchain script more than once with
newlib already untar'd. The patch is applied twice and corrupts the code.
If you delete the local copy of newlib and retry, it should work.

On Tue, Jul 30, 2019, 10:39 AM Keith Moyer <notifications@github.com> wrote:

[2019-08-13 16:17] kamathhrishi commented on #37
Thank you @deeglaze  and @KeithMoyer  I think it is because I have tried installing it several times. How exactly do I delete newlib local copy ?

[2019-08-13 17:02] KeithMoyer commented on #37
@kamathhrishi, could you provide more information on how you set up the environment (including what OS you're using) and invoked this command?

The install-toolchain script, by default, will download/extract/patch newlib into the current working directory of where you executed the command. If you used the default options, you could find and delete the directory from there.

[2019-08-29 12:37] janCstoffregen opened #38 "List of threats Asylo protects against once it's ready for production"
Dear Asylo developers,
I have searched for a list of concrete threats that Asylo will protect against once it's ready for production (on your websites, blogs, etc) and how it protects the enclave from those threats.

I know it's hard to say since there are so many possible threats, I found the following on https://asylo.dev/about/overview.html#security-backends

I just wonder if there is a more pr

[2019-09-30 19:38] andrewdomin opened #39 "Remote attestation with IAS"
Hi devs,

It appears that enclaves created with Asylo can produce assertions of their identity (known as an enclave report in SGX lingo) which can be verified by some remote authority. However, I cannot find any examples of an authority performing remote attestation using the Intel Attestation Service (IAS). Is this a feature that is currently supported, and if not, do you expect remote attestatio

[2019-09-30 20:02] annasapek commented on #39
Asylo currently supports SGX local attestation (see [SgxLocalAssertionGenerator](https://asylo.dev/doxygen/classasylo_1_1SgxLocalAssertionGenerator.html) and [SgxLocalAssertionVerifier](https://asylo.dev/doxygen/classasylo_1_1SgxLocalAssertionVerifier.html)), but remote attestation support is not yet available. You can expect to see examples for it once it becomes available.

We are specifically w

[2019-09-30 20:25] andrewdomin commented on #39
Thanks @annasapek! I appreciate the quick response and links to further information. I'm looking forward to seeing the examples once they are available.

[2019-09-30 20:25] #39 closed

[2019-10-01 15:09] tiziano88 opened #40 "Regression test instructions not working"
I am following the instructions in

https://github.com/google/asylo/blob/5ab253e2db786a9cccbc397aac2338531d4aa119/README.md#L160-L181

but getting the following errors:

[code]

cc @anghelcovici

[2019-10-01 17:02] KeithMoyer commented on #40
@tiziano88, can you some more information on what steps you performed?

Running from HEAD with the current docker container image builds/passes fine for me. Could you try `docker pull gcr.io/asylo-framework/asylo` to make sure you don't have an old version? What commit/tag are you using?

The first error in your output seems to be a legit issue (we removed a file, but didn't delete it from the `ex

[2019-10-01 18:56] tiziano88 opened #41 "Cannot build enclave reproducibly"
I cannot seem to reproducibly build the enclave code on my machine. I am using the following steps:

1. `docker run -it --rm -v bazel-cache:/root/.cache/bazel -v "${PWD}":/opt/my-project -w /opt/my-project gcr.io/asylo-framework/asylo`
    + [execute the following steps from within the running Docker container]
1. `bazel build --config=sgx-sim //asylo/examples/hello_world`
1. `cp bazel-bin/asylo/e

[2019-10-01 19:05] tiziano88 commented on #41
FWIW I analyzed the difference between the two resulting binaries with `diffoscope`, and it seems most (all?) of the differences are around functions such as:

- `FromkLinuxSysconfConstant`
- `TokLinuxSysconfConstant`
- `FromkLinuxBaseSignalNumber`
- `FromkLinuxIpV6OptionName`
- `TokLinuxErrorNumber`

From a quick look at the repository, these seems to be defined in https://github.com/google/asylo

[2019-10-01 19:48] KeithMoyer commented on #41
@tiziano88, thanks for the good bug report with simple reproducer! I've root caused this and we'll be working on a fix (it should be fairly simple).

We have some code generation for translating between constant values when marshaling across the enclave boundary, and the python dictionary used at one stage of this is itself non-deterministic in ordering. This results in the _order_ these functions

[2019-10-08 20:12] tiziano88 commented on #41
Thanks for the fix @carmenyh , I have tried pulling in the latest version of Asylo including your fix, but I am still seeing inconsistent results. The difference seem still related to the ordering of symbols such as:

- `TokLinuxRusageTarget`
- `FromkLinuxTcpOptionName`

I suggest reopening this issue until the root cause is identified.

[2019-10-08 21:56] KeithMoyer commented on #41
@tiziano88, this was automatically closed via commit description annotation prematurely. Reopening

[2019-10-14 17:41] #41 closed

[2019-11-07 15:45] fixerivan commented on #39
cant wait! :)

[2019-11-07 19:24] tiziano88 opened #44 "`bazel_version` rule conflicting with bazelbuild/rules_rust"
`asylo` definition of `bazel_version`:
https://github.com/google/asylo/blob/676b9f3f86dace43755d452b016c8cac14a69df0/asylo/bazel/asylo_deps.bzl#L237-L243

`rules_rust` definition of `bazel_version`:
https://github.com/bazelbuild/rules_rust/blob/fe9a91e8b42f731aeb3b596246f6bf4bb9a88dc3/workspace.bzl

This fails compilation with an error similar to:

[code]

since both projects define `@bazel_versio

[2019-11-07 19:50] tiziano88 commented on #44
I may have managed to work around this using the very obscure and almost undocumented `repo_mapping` feature in Bazel: https://docs.bazel.build/versions/master/external.html#shadowing-dependencies

[2019-11-07 22:21] tiziano88 opened #45 "Could not link Rust static lib to enclave code"
I have been experimenting compiling Rust to a static library and linking it against our existing enclave code (will provide detailed steps if anyone is interested), but while I can link the resulting artifacts against standard C++ code, asylo seems picky about it, and I get the following errors in bazel:

[code]

For reference, I also came across this https://dev.to/luzero/building-crates-so-they-

[2019-11-07 22:28] tiziano88 commented on #45
cc @daviddrysdale @anghelcovici @michael-kernel-sanders

[2019-11-07 22:51] deeglaze commented on #45
Are you perhaps using libc++ instead of libstdc++? Our libc (newlib) doesn't implement long double functions for architectures where double != long double. libstdc++ seems to fill in the blanks, but libc++ doesn't.

We're experimenting with splicing long double functions from musl into newlib in order to fill in the blanks for libc++, which leads to some weird header #define contortions, but that'

[2019-11-07 23:21] tiziano88 commented on #45
Thanks @deeglaze for the quick and relevant reply! That may well be the case, unfortunately there is no easy way (that I know of) to force the Rust compiler to use one or the other lib. Do you have a prototype version of Asylo implementing the spliced functions you mentioned? I'd be happy to patch things locally and give it a try to see if it solves the issue.

[2019-11-07 23:26] tiziano88 commented on #45
If it helps, it seems that the functions seem to be defined in https://github.com/llvm-mirror/compiler-rt/blob/master/lib/builtins/int_math.h .

[2019-11-08 11:54] tiziano88 commented on #45
Blocks https://github.com/project-oak/oak/issues/313

[2019-11-08 11:55] tiziano88 commented on #44
Blocks https://github.com/project-oak/oak/issues/313

[2019-11-08 18:07] deeglaze commented on #45
int_math.h is referencing libc there, not defining the missing symbols. I don't have anything in a shareable state, sad to say. I spent a few hours trying to make newlib + musl build in the github environment but have hit some snags. I can share that with you to figure out a bit more, but I just don't have the capacity to put more time into it right now.
https://github.com/deeglaze/repro/raw/maste

[2019-11-16 13:16] ipetr0v opened #47 "SGX remote attestation"
Asylo has [definitions](https://github.com/google/asylo/blob/master/asylo/identity/descriptions.h) for several types of assertions:

 - `SetNullAssertionDescription`
 - `SetSgxLocalAssertionDescription`
 - `SetSgxRemoteAssertionDescription`

But it looks like only the first two are implemented in a form of gRPC credentials:
- [null_credentials_options.cc](https://github.com/google/asylo/blob/maste

[2019-11-18 17:49] annasapek commented on #47
Keen observation! :) Yes, we're currently still working on getting SGX remote attestation working as a mode of gRPC authentication. Once it's available, you'll also find a sgx_remote_credentials_options.cc file.

See #39 for more details about the attestation scheme that we plan to support.

[2019-11-18 19:22] #47 closed

[2019-11-19 14:47] ipetr0v opened #48 "MAC verification failed"
I'm trying to use local attestation for an SGX enclave.
But when a local client connects to the enclave through gRPC, I got the following error on the client side (server side doesn't show any errors):
[code]

I have tried to debug this in `gdb` and got these results:
[code]
in file:
https://github.com/google/asylo/blob/befb2efc1aa2bf6cf6f2ced869182ee3ce921817/asylo/identity/sgx/sgx_identity_util_

[2019-11-19 14:50] tiziano88 commented on #48
@ipetr0v did you manage to dump the key too? I remember you found out the key id was something like `FF00FF00FF00...`, which may or may not be expected for a simulated / fake enclave.

[2019-11-19 14:52] ipetr0v commented on #48
Yes, the key was as follows:
[code]

[2019-11-19 17:20] ipetr0v commented on #48
I have found this key in [linux-sgx](https://github.com/intel/linux-sgx)
[code]
https://github.com/intel/linux-sgx/blob/d166ff0c808e2f78d37eebf1ab614d944437eea3/sdk/simulation/uae_service_sim/quoting_sim.cpp#L106-L113

[2019-11-19 18:05] annasapek commented on #48
The problem is this:

SGX local attestation only works between enclaves because it relies on symmetric secrets baked into the hardware, or in this case the simulation of hardware. SGX enclaves get access to those secrets through EGETKEY and EREPORT but non-SGX-enclaves cannot issue those instructions. This means that non-SGX enclaves cannot even _verify_ SGX local assertions.

I admit that the res

[2019-11-19 18:51] ipetr0v commented on #48
@annasapek thanks for your answer!

[2019-11-19 18:51] #48 closed

[2019-11-19 20:26] tiziano88 commented on #48
@annasapek what's preventing a random enclave from running and exporting the symmetric key used to verify the attestation? Or is it just an id / pointer to an unexportable key that can only be used for crypto operations with hardware support?

[2019-11-19 22:21] annasapek commented on #48
I slightly oversimplified in my previous comment. EGETKEY only gives an enclave access to its own REPORT key, which is derived from the root key material and has properties of the enclave's identity  mixed in. Therefore, an enclave can only compromise its own REPORT key and not the platform's root secrets. That's also why non-enclaves can't invoke EGETKEY; there are no bits of the identity to mix

[2019-11-19 22:36] tiziano88 commented on #48
My point is: can we write an enclave that gets its own key from the CPU and prints it out to a file, and then keep using it from then on to keep verifying assertions outside of other enclaves? Or, for this specific case of the server using an sgx simulated enclave, can we pass the hardcoded key directly to the verifier? Don't worry, we don't have a real use case for this, but it may be a stop gap

[2019-11-19 23:24] annasapek commented on #48
In theory, yes, that should work... Asylo's `SgxLocalAsssertionVerifier` wouldn't allow that though. You'd have to write a custom verifier that uses a hard-coded key for verifying Assertions, and a hard-coded TARGETINFO in its AssertionRequests.

[2019-11-20 11:52] ipetr0v commented on #48
@annasapek there is also an entity used in the local attestation - called the **Attestation Domain**. Code comments say that it should be a 16-byte string.
https://github.com/google/asylo/blob/676b9f3f86dace43755d452b016c8cac14a69df0/asylo/identity/enclave_assertion_authority_configs.h#L71-L79

Should this domain be a shared secret between two enclaves, that want to attest each other?
Or it's just

[2019-11-20 17:59] ipetr0v opened #49 "Util libraries are not public"
Should these functions:
https://github.com/google/asylo/blob/befb2efc1aa2bf6cf6f2ced869182ee3ce921817/asylo/identity/enclave_assertion_authority_configs.h#L63-L79

be visible in `visibility:public` (currently they are in `asylo:implementation`):
https://github.com/google/asylo/blob/befb2efc1aa2bf6cf6f2ced869182ee3ce921817/asylo/identity/BUILD#L122-L127

Since they may be used by asylo users during

[2019-11-20 18:15] annasapek commented on #48
The attestation domain is a convenience string that it used to identify if two enclaves are on the same machine and can use SGX local attestation. It's a public value, and it's not added for security, just for optimizing the handshake. If you use the attestation domain on two different SGX machines, then you will just end up getting the MAC verification error again.

[2019-11-20 19:28] annasapek commented on #49
This library is intended to be `visibility:public` and we have commit in the pipeline to fix its visibility. It should get pushed out in the next week.

`asylo::InitializeEnclaveAssertionAuthorities()` only needs to be invoked manually outside an enclave. It is automatically invoked inside an enclave by [`TrustedApplication::InitializeInternal()`](https://github.com/google/asylo/blob/v0.4.1/asylo/

[2019-11-20 20:07] ipetr0v commented on #49
@annasapek, so if we have a gRPC client and a gRPC server that hosts an enclave:
- Do we need to only run `asylo::InitializeEnclaveAssertionAuthorities()` on the client?
- Or we also need to run this function in the untrusted part of the server (outside the enclave)?

[2019-11-20 22:09] annasapek commented on #49
If the gRPC endpoint (client or server) runs inside an enclave, you don't need to invoke `asylo::InitializeEnclaveAssertionAuthorities()` in either the trusted or untrusted portion.

If the gRPC endpoint runs outside an enclave, you _must_ call `asylo::InitializeEnclaveAssertionAuthorities()` manually.

[2019-11-21 13:45] fixerivan opened #50 "asylo in GKE"
any idea when asylo will be available to use in google kubernetes engine? would love that ...

right now i am trying to use the GKE binary authorization, but that is quite limited - as remote attestation is what our use case needs

thx

[2019-11-21 18:34] KeithMoyer commented on #50
Unfortunately, I'll have to side-step this question. We can't comment on any kind of unannounced product plans or road maps. :-(

[2019-11-21 19:31] ipetr0v opened #51 "generate_sigstruct is not generating SIGSTRUCT"
The Bazel rule `sgx.generate_sigstruct`, that is defined here:
https://github.com/google/asylo/blob/361737de928acbd01a6ca206292bf79c0484c62b/asylo/distrib/sgx_x86_64/linux_sgx_2_6.patch#L5420

https://github.com/google/asylo/blob/361737de928acbd01a6ca206292bf79c0484c62b/asylo/distrib/sgx_x86_64/linux_sgx_2_6.patch#L5136-L5170

is not generating an actual `SIGSTRUCT` (generating some other structur

[2019-11-21 20:02] deeglaze commented on #51
Yes this is by design. SIGSTRUCT is self-referential because it contains a signature of parts of the rest of the SIGSTRUCT (header and body, by sgx sdk's struct type). That "rest of the sigstruct" is what `sgx_generate_sigstruct` produces, because that's what needs to be SHA256-signed. `sgx_signed_enclave` consumes the signature, the signing key's public key, the "rest of sigstruct" file, and the

[2019-11-21 20:02] tiziano88 commented on #51
I agree that the name is not ideal and in fact we spend more time than we would like to admit trying to figure out why the offsets from the official Intel documentation would not match the output of the `generate_sigstruct` rule, given it claims to generate a `SIGSTRUCT`.

To avoid further confusion, I would strongly recommend renaming that to `generate_enclave_signing_material` (in line with the

[2019-11-21 20:06] tiziano88 commented on #51
Also, it seems problematic to just be signing an opaque blob of data without understanding what it contains; we would like to be able to inspect / pretty print the contents of the signing material if possible, is there any tool that does that already? If not, I guess for now we can manually figure out the offsets of the pieces of data we are interested in (`MRENCLAVE`, `ATTRIBUTES`, etc.) and prin

[2019-11-21 23:54] #51 closed

[2019-11-21 23:55] deeglaze commented on #51
I've added a new rule with an appropriate name and deprecated the old rule. I'm working on a script that will overlay colors on a hexdump to explain the various pieces.

[2019-11-22 00:14] tiziano88 commented on #51
Wow thanks for the quick fix @deeglaze , much appreciated! And looking forward to that script. If possible, could you also make it print a list of key: value pairs or a JSON file, which would be more accessible and easier to copy around (e.g. in an email message or GItHub issue)? Of course having the terminal-based color output as an extra would be neat too :)

[2019-11-22 22:54] deeglaze commented on #51
@tiziano88 You can see the script here https://gist.github.com/deeglaze/a8f0f982bc1e4d17c38cf9571d15fd37
Although it's under review, you can play with it and tell me what you think.

[2019-11-23 14:30] tiziano88 commented on #51
Thanks @deeglaze the script looks like it would do the job, but I personally would not look forward to maintaining a shell script more than a few lines long. Especially since it is mostly about parsing and printing stuff out, things for which having actual types and libraries is usually helpful :) My suggestion would be to create a small Rust (though this is frowned upon in Google) or C++ binary,

[2019-11-26 17:42] ipetr0v commented on #49
@annasapek should this library also be public ?
https://github.com/google/asylo/blob/088ea3490dd4579655bd5b65b0e31fe18de7f6dd/asylo/identity/sgx/BUILD#L1166-L1190

Since it contains very convenient helper functions that should be used by asylo users:
https://github.com/google/asylo/blob/088ea3490dd4579655bd5b65b0e31fe18de7f6dd/asylo/identity/sgx/secs_attributes.h#L181-L182

https://github.com/goog

[2019-11-26 17:49] ipetr0v commented on #49
@annasapek should this library also be public ?
https://github.com/google/asylo/blob/088ea3490dd4579655bd5b65b0e31fe18de7f6dd/asylo/identity/sgx/BUILD#L1166-L1190

Since it contains very convenient helper functions that should be used by asylo users:
https://github.com/google/asylo/blob/088ea3490dd4579655bd5b65b0e31fe18de7f6dd/asylo/identity/sgx/secs_attributes.h#L181-L182

https://github.com/goog

[2019-11-26 17:54] ipetr0v commented on #49
Also this library is also not public:
https://github.com/google/asylo/blob/088ea3490dd4579655bd5b65b0e31fe18de7f6dd/asylo/identity/util/BUILD#L55-L67

[2019-11-26 18:02] annasapek commented on #49
No, we don't intend to make those public. The [`sgx_identity_util`](https://github.com/google/asylo/blob/088ea3490dd4579655bd5b65b0e31fe18de7f6dd/asylo/identity/sgx/sgx_identity_util.h) library should contain all the additional utility functions needed for gRPC authn and authz. Let me know if you think something is missing from there.

[2019-11-26 18:11] ipetr0v commented on #49
Should `sha256_hash_util` be public, since it contains functions to create `Sha256HashProto` from strings? And these functions could be used to assign `MRSIGNER` values for the remote attestation.

[2019-11-26 18:28] ipetr0v commented on #49
And also this library:
https://github.com/google/asylo/blob/befb2efc1aa2bf6cf6f2ced869182ee3ce921817/asylo/grpc/auth/BUILD#L61-L72

[2019-11-26 20:19] annasapek commented on #49
You can depend on `asylo/grpc/auth:grpc++_security_enclave` to get the definition of `EnclaveCredentialsOptions`. The `enclave_credentials_options` target was created to isolate the code for testing.

[2019-11-26 20:38] ipetr0v commented on #49
Thanks!
And on which library I can depend to get functions for `Sha256HashProto` creation?

[2019-11-26 20:51] annasapek commented on #49
You can get that definition from `asylo/identity/util:sha256_hash_cc_proto`.

As a side-note, we are planning to reorg these directories so it is more clear which files are intended to be consumed by users of Asylo. I admit that it is a bit confusing right now.

[2019-11-26 21:10] tiziano88 commented on #49
The `asylo/identity/util:sha256_hash_cc_proto` rule exposes the proto file, but not the util class. We would probably reimplement something like `Sha256HashFromHexString` anyways, so could you consider making it public?

https://github.com/google/asylo/blob/e8bff4742f0a3314ba553897ba00bb6042835ba3/asylo/identity/util/sha256_hash_util.h#L32

[2019-11-27 17:27] ipetr0v commented on #49
Another question:
It doesn't seem that `sgx_identity_util` util library contains primitives for creating `SgxIdentity`, except for:
https://github.com/google/asylo/blob/088ea3490dd4579655bd5b65b0e31fe18de7f6dd/asylo/identity/sgx/sgx_identity_util.h#L50-L51

And `SgxIdentity` is a required parameter for:
https://github.com/google/asylo/blob/088ea3490dd4579655bd5b65b0e31fe18de7f6dd/asylo/identity/sg

[2019-11-29 16:34] blaxill opened #52 "`asylo_package` bazel path builder breaks when external repository uses `asylo` in its name"
The `asylo_package` helper function currently just checks if asylo is in the path and so breaks when external repository uses `asylo` in its name:

https://github.com/google/asylo/blob/088ea3490dd4579655bd5b65b0e31fe18de7f6dd/asylo/bazel/asylo_internal.bzl#L24-L27

For example compiling in an external repository: `bazel build //oak/server/asylo:xxxx` fails with `no such package 'asylo/bazel/applic

[2019-12-01 03:44] deeglaze commented on #52
This was a workaround for the --incompatible_remap_main_repo flag that still hasn't flipped in Bazel. I'll change it to .startswith("asylo") and hopefully that will be good enough until the flag is flipped. Thanks for the report!

[2019-12-03 18:27] ipetr0v opened #53 "bazel sync errors in docker"
I'm trying to run `bazel sync` to download Asylo's dependencies in docker, but get the following error:
[code]

My `WORKSPACE` looks like this:
[code]
And my `Dockerfile` looks like this:
[code]

[2019-12-03 22:59] KeithMoyer commented on #53
Thanks for the report, @ipetr0v !

It looks like protobuf moved the six.BUILD file to a different folder; we missed this because this dependency actually became unused recently in Asylo. We'll get it removed from asylo_deps().

[2019-12-04 16:54] ipetr0v commented on #53
@KeithMoyer Another thing that I have found is, when I add:
[code]
to a `WORKSPACE` file, I also get this error in docker after running `bazel sync`:
[code]
This error is fixed after I install `python-dev` in docker, but then I get the following error:
[code]
That is fixed by also installing `python3-dev`.
Does it mean, that docker image should also contain `python-dev` and `python3-dev` ?

[2019-12-04 17:40] iKevinY commented on #49
@ipetr0v Thanks for pointing that out; this was indeed an oversight in the `sgx_identity_util` library. We'll work on exposing other methods that allow for creating non-self `SgxIdentity`s.

[2019-12-04 19:58] KeithMoyer commented on #53
Asylo itself doesn't require those to build, but it doesn't seem unreasonable to add python*-dev packages to the container. I'll look into making that change as well.

I wasn't familiar with `bazel sync`. I had always used `bazel fetch //...` (or similar) to fetch all of the dependencies. Interesting. Thanks!

[2019-12-09 01:44] sp21 opened #54 ".note.sgxmeta section is missing in unsigned enclave"
I am currently testing non-docker mode of Asylo installation.

I simply ran `bazel run --coinfig=sgx //hello-world` and got the following error
[code]

Actually the `.note.sgxmeta` section header is missing in `libhello_enclave_unsigned.so`
[code]

To my understanding, the `.note.sgxmeta` section is derived from `libsgx_trts.a` library.

AS the header is not found, there may be some problem with l

[2019-12-09 18:06] KeithMoyer commented on #54
Thanks, @shpark3.

We also found the same issue recently, have root caused it, fixed it internally, and will be pushing out a fix for it soon.

This is related to how Bazel 1.0+ links things. In the meantime, you can either:
a) use the gcr.io/asylo-framework/asylo:buildenv-v0.4.1 docker image (this had an older version of Bazel)
b) add alwayslink = 1 to the trts_hw target in the [SGX SDK patch](ht

[2019-12-10 11:28] ipetr0v opened #55 "Asylo gRPC client on ARM"
I'm trying to compile an Asylo gRPC client for android using the Android Native Development Kit (NDK), but get the following error:
[code]
More information in https://github.com/project-oak/oak/issues/353

cc @tiziano88 @annasapek

[2019-12-12 20:25] #52 closed

[2019-12-12 20:25] #53 closed

[2019-12-12 20:50] KeithMoyer commented on #54
This was fixed by f5651392cf822e255e7de93956503c0179d4c021

[2019-12-12 20:50] #54 closed

[2019-12-12 22:40] annasapek commented on #55
We have a fix in the works, you can expect it to be out in the next push.

[2019-12-19 09:04] ALEXSmind opened #56 "Will Ayslo add support for using the AMD SEV hardware backend in the future?"
Hi, I've noticed that Ayslo already support using Intel SGX hardware backend.
I wonder if Aylso will support using AMD SEV hardware backend in the future?

Thanks a lot!

[2020-01-14 14:46] #55 closed

[2020-01-14 14:48] ipetr0v opened #57 "Attribute 'deprecated' is ignored"
Compiling a new Asylo version (0.5.1) and get the following error:
[code]
cc @tiziano88

[2020-01-14 16:16] sethmoo commented on #57
Thanks for the heads up. This is indeed a bug, and we'll address it soon.

That said, I'm curious how you're running into this. It appears that ABSL_DEPRECATED is a Clang-only attribute. Do you have code building with Clang that has a dependency on aes_gcm_siv.h?

[2020-01-14 16:19] ipetr0v commented on #57
Yes, we are compiling a `dev` version of the Oak server with `clang`:
https://github.com/project-oak/oak/blob/46361f6ec10acc7196dc81765aa65416b5eefb39/scripts/build_server_dev#L23-L29
that currently uses `aes_gcm_siv.h`:
https://github.com/project-oak/oak/blob/46361f6ec10acc7196dc81765aa65416b5eefb39/oak/server/storage/storage_processor.h#L22

[2020-01-21 14:54] #57 closed

[2020-01-21 15:06] ipetr0v opened #58 "`trying to mutate a frozen object` error"
I'm trying to compile the newest version of Asylo (as a dependency in [Oak](https://github.com/project-oak/oak)) and get the following errors:
[code]
[code]

I tried to compile different commits, and it looks like the problem is caused by the https://github.com/google/asylo/commit/ee9a7dbbcde2aeb9f2d83c2b5af211282865f464.
If I use any preceding commit - everything works fine.

[2020-01-21 18:14] KeithMoyer commented on #58
I suspect you're using an older version of the `rules_cc` dependency in your `WORKSPACE` file. Please ensure you're using https://github.com/bazelbuild/rules_cc/commit/cfe68f6bc79dea602f2f6a767797f94a5904997f (November) or later.

It looks like you're using Protobuf 3.9.1, from which you import an older commit of `rules_cc` via `protobuf_deps()`. You could fix this by importing a newer `rules_cc`

[2020-01-22 13:00] ipetr0v commented on #58
Thanks, that worked!
Added the latest `rules_cc` version:
[code]

[2020-01-22 15:13] #58 closed

[2020-01-23 17:26] iKevinY commented on #49
The latest Asylo release includes the addition of [`attributes_util`](https://github.com/google/asylo/blob/master/asylo/identity/platform/sgx/attributes_util.h) and [`miscselect_util`](https://github.com/google/asylo/blob/master/asylo/identity/platform/sgx/miscselect_util.h), which are public libraries that can be used to modify those `CodeIdentity` fields. The constants were moved into [`architec

[2020-01-23 17:28] #49 closed

[2020-03-11 09:14] tomtau opened #59 "Mitigations / software hardening for LVI?"
https://software.intel.com/security-software-guidance/insights/deep-dive-load-value-injection#applysgxmitigation

Some part of it should be handled by the patched LLVM:  https://reviews.llvm.org/D75938
but that may not cover e.g. BoringSSL assembly code

[2020-05-26 21:34] iKevinY commented on #59
Thank you for bringing this to our attention @tomtau! Due to toolchain complexity, it took a little longer than expected to integrate these mitigations into Asylo, but they are in as of 9d43b6c4660553c1839d4972fbdcf07dd4e1dc62. Since Asylo uses GCC rather than Clang, we pulled Intel’s upstream Binutils patch (bminor/binutils-gdb@ae53104) into our toolchain, and extended Bazel to allow for varying

[2020-05-27 04:52] #59 closed

[2020-06-13 10:09] fixerivan commented on #50
don't want to sound rude but there isn't too much activity on your blog, is this project still alive? or is the "new content" somewhere else?

still hoping for that GKE support ... thx!

[2020-06-15 10:17] yc-huang opened #60 "build error when introduce opencv to enclave"
I‘m trying to introduce opencv to my enclave application. I started from modifying the hello_world example as following:
1. add some opencv code to hello_enclave.cc:
#include <opencv2/opencv.hpp>
#include <opencv2/core.hpp>
...
cv::Mat image;
image = cv::imread( "image.jpg", 1 );
LOG(INFO) << "Hello " << visitor;

2. add dependence to BUILD:
cc_unsigned_enclave(
    name = "hello_enclave_unsigned.

[2020-06-15 17:05] KeithMoyer commented on #50
Indeed, we don't post often to the blog. However, a new release shouldn't be too far away. :-)

[2020-06-15 17:05] #50 closed

[2020-06-16 10:42] yc-huang commented on #60
changed to use opencv static library, still can't build...It looks like that the library is incompatible with the ld command?

bazel run --config=sgx-sim //hello_world:hello_world
INFO: Analyzed target //hello_world:hello_world (1 packages loaded, 270 targets configured).
INFO: Found 1 target...
ERROR: /opt/my-project/hello_world/BUILD:43:1: Linking of rule '//hello_world:hello_enclave_unsigned_sg

[2020-06-16 15:42] sethmoo commented on #60
It looks like the problem here is that OpenCV is not being built with the same toolchain as Asylo. This is likely leading to incompatibilities between toolchains.

Instead of using `new_local_repository` to reference a pre-built OpenCV, I'd recommend using `new_git_repository` to download the OpenCV source. You'll need to add a `BUILD.opencv` file to natively build OpenCV with the same toolchain a

[2020-06-18 04:46] yc-huang commented on #60
Thanks @sethmoo for your suggestion, I can finally build opencv with bazel, but still can't build the whole project.  I'm invoking cv::imread("image.jpg") but it says undefined reference to: `cv::imread(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, int)'.  Does that means I can't simply calling a 3rd party lib in an enclave application?

------------------

[2020-06-18 04:55] yc-huang commented on #60
Following is build files I used to introduce opencv to the hello_world example as Seth suggested:
1. add those to WORKSPACE:
load("@bazel_tools//tools/build_defs/repo:git.bzl", "new_git_repository")
new_git_repository(
    name = "opencv",
    remote = "https://github.com/opencv/opencv",
    build_file = "BUILD.opencv",
    tag = "2.4.13.2",
)

http_archive(
    name = "net_zlib",
    build_file =

[2020-06-19 14:58] sethmoo commented on #60
It looks like you're not building the image codecs. I don't know OpenCV myself, but I looked on the github repo and cv::imread seems to be defined in [modules/imgcodecs/src/loadsave.cpp](https://github.com/opencv/opencv/blob/8d78400052c9e6b60374364163f234790251b8fb/modules/imgcodecs/src/loadsave.cpp#L622)

However, your build rule is only building modules/core:
[code]

You'll need to include the s

[2020-06-23 09:51] yc-huang commented on #60
Sorry my fault; I made a mistake to think that Asylo build system might change the shape of the functions that I called inside the enclave app...

[2020-06-23 09:51] #60 closed

[2020-07-30 21:50] sliverdragon37 commented on #36
As of release 0.6.0, this is fixed.

[2020-07-30 21:50] #36 closed

[2020-09-22 15:15] fproulx-dfuse commented on #56
Now that Google Cloud has Confidential Computing with AMD SEV. Any updates on this ?

[2020-10-05 22:54] KeithMoyer commented on #56
With AMD SEV, we've been focused on bringing a VM-based solution to GCP (see https://cloud.google.com/compute/confidential-vm/docs/about-cvm). We aren't currently investing in adding SEV support to the Asylo SDK.

[2020-11-08 14:47] Ruide opened #61 "sqlite3 example does not work with host file system"
I build the project with docker. I test it on both MacOS and Ubuntu.

I run sqlite3 example with gcr.io/asylo-framework/asylo:latest image.

I go to the following directory:
/opt/my-project/bazel-cache/_bazel_root/b6bc0828d5b43c7085b650e0698bf388/execroot/asylo_examples/bazel-out/k8-fastbuild/bin/sqlite3#

I run the following command:
./asylo_sqlite_sgx_sim ex1.db

I run the following sqlite shell

[2020-12-13 22:42] asmprogrammer5 opened #62 "Use of --config=sgx-sim or enc-sim still supported on Asylo 0.6?"
I'm trying to compile hello_world on an Ubuntu 18.04 with the manual installation instructions provided in INSTALL.md. Is the config option still supported? I keep getting an error while compiling sgx_sdk. The only option to compile hello_world that works for me is if I remove --config=sgx-sim and use //asylo/examples/hello_world:hello_world_sgx_sim.

Question is whether --config=sgx-sim or --conf

[2020-12-14 17:52] deeglaze commented on #62
The config option is not necessary in most common cases now. The new build
concepts are discussed here
https://asylo.dev/docs/concepts/building.html

The config we used in the past changes the top level toolchain to the
enclave toolchain, which will not normally work for the untrusted
application part of the build.  Before Bazel added the configuration
transitions feature, we had to finagle the bu

[2020-12-15 09:04] asmprogrammer5 commented on #62
Thanks couple of follow ups:

1. Why do we still have the --config option for simulator in the tree? Since it's replaced by @com_google_asylo_backend_provider//:backend

2. If I needed to include system header files such as these below, what should I ensure?

#include <linux/types.h>
#include <linux/ioctl.h>

I am getting an error when I added some trial code in primitives/sgx/<file.cc>
[code]
Usi

[2020-12-15 19:26] deeglaze commented on #62
The Asylo enclave runtime environment does not provide a complete set of Linux APIs, so you will not be able to include all Linux system headers. We’ve added a few Linux extensions to our POSIX environment to allow for some performance improvements and added compatibility. The goal of Asylo is to be small and trustworthy, but still useful. Full Linux compatibility is an anti-goal of Asylo. If you

[2020-12-17 19:44] asmprogrammer5 commented on #62
Thanks, I get the point regarding the Asylo's need to be hermetic. Ok using -isystem can let me include some of these system headers.

For the backend flag, yes, I meant --config=sgx-sim that leads to SGX_SIM=1 value.

But going back to the Asylo's small and trustworthy goal, we still need the Intel's SGX SDK, that includes many of the system header files right? Is that ok or is there a plan to ch

[2020-12-17 20:07] deeglaze commented on #62
Asylo uses a small subset of the Intel SDK for creating the enclave
execution context and some ecall/ocall handling. I wouldn’t say either
Asylo or Intel SGX SDK use many linux system headers for building enclaves
because we both have self-contained trusted runtimes. Including a header
for type declarations is something we’ll do, and in some cases we’ll define
declared symbols as immediate aborts

[2020-12-17 21:31] asmprogrammer5 commented on #62
I guess we need to differentiate between what is part of the enclave runtime and what is built for the untrusted part. I'm looking at a few headers in linux_sgx/common/inc/internal

Not as much as a concern, but I wanted to ensure that my code is inline with what Asylo and the SGX SDK was designed for and not changing the security context.

[2020-12-17 21:55] deeglaze commented on #62
I recommend reading our runtime documentation since there are some syscalls
that will compile and link but fail due to unsupported flags for instance.

On Thu, Dec 17, 2020 at 13:31 asmprogrammer5 <notifications@github.com>
wrote:

[2020-12-17 21:58] asmprogrammer5 opened #63 "What is the upstreaming plan for SGX SDK patches from Google?"
Looking at sgx_x86_64/linux_sgx_2_9.patch. Will this be maintained as a patch going forward or integrated into Intel SGX SDK? Also, is the upstreaming and rebasing of the patch on a new SGX SDK done periodically?

[2020-12-21 20:28] sethmoo commented on #63
Some aspects of our patch have been open PRs on SGX SDK for years. We have
contributed several PRs that have been merged and removed from our patch in
subsequent updates.

We’ve been updating our patch with SGX SDK releases since version 1.9. We
use only a small part of the SGX SDK, and we don’t provide compatibility
with all their features, like switchless functions, so we don’t always
upgrade im

[2021-02-09 05:20] zwying opened #64 "Will you support AMD SEV since it's already in google cloud as confidential computing.?"

[2021-02-15 02:38] asmprogrammer5 opened #65 "Linker options for enclave - Asylo 0.3.4 vs 0.6"
I’m looking at changes between Asylo 0.3.4 and 0.6 and I have a few questions about the enclave compile/link:

In 0.3.4, we had the host_loader library as a dynamic library and doing an ldd provides me the interpreter needed for this:
[code]

But in 0.6, the enclave seems to be statically linked:
[code]
and the interpreter is:
/lib/ld64.so.1

Also, the size of the enclave is much larger now. My qu

[2021-02-19 22:22] asmprogrammer5 commented on #65
There is an issue with the way we were using 0.3.4's enclave link in my code. So the behavior with the default enclave probably didn't change in native Asylo code. So closing this issue.

[2021-02-19 22:22] #65 closed

[2021-02-24 14:40] Gavincrz opened #67 "Mitigation for Iago attack"
Dear Asylo Developers,

I found a potential lack of mitigation issue in some functions. enc_untrusted_readlink() function returns the untrusted number of bytes read to the Asylo application without verification.

It is not a vulnerability unless the application running inside Asylo uses the readlink()'s return value unsafely.

Many legacy applications assume the readlink()’s return value is less t

[2021-03-02 22:01] #67 closed

[2021-03-08 05:02] kongoshuu commented on #67
Hi Rongzhen,

Thank you for reaching out. Checking the return value from the untrusted side in those syscalls would help to provide better security for user cases as you mentioned. We added the check to those calls. Thanks for helping improve Asylo!

Regards,
Chong

[2021-03-21 10:26] dominions opened #68 "Handle signal inside enclave"
I am trying to handle signals inside the enclave.  I notice that Asylo modified SGX SDK to support handling signals inside the enclave.
Therefore, I follow the patches of <https://github.com/intel/linux-sgx/pull/222> and <https://github.com/intel/linux-sgx/pull/223> to modify SGX sdk 2.13 .
But the program crashed when the signal handler function ECALL into the enclave with cssa = 1 even I increas

[2021-03-31 16:09] TheMarshalMole commented on #45
This problem also appears when trying to build a driver for Linux Kernel -- 2021. 😢
Is there any fix for it?

[2021-04-01 13:31] TheMarshalMole commented on #45
UPDATE: it works for Ubuntu 20+, but for Debian 10, no 😭

[2021-04-29 07:18] ahawad opened #70 "Does Asylo's toolchain support sanitizers?"
Hey.

I wanted to compile the hello world example with ASAN, but it seems like asylo's toolchain does not include sanitizers. I can understand why you may not want to build trusted components with ASAN, I have successfully added fsanitize=address to the enclave_loader's copts and linkopts parameters and that seems to work for the untrusted components.

Based on my simple experiment, I wanted to as

[2021-07-28 09:38] cimcs opened #71 "Can Asylo run applications on SGX2 machines?"
Hi Asylo Team,

I wonder if Asylo has been adapted to be able to run applications on a SGX2 machine? I have built a target application (e.g., hello world) successfully on such a machine, but I got a "bus error" when running it.

The testing environment we used is:
Intel NUC7PJYH with SGX2 support,
Ubuntu18.04,
Asylo 0.6.3,

Thanks,
Jinhua

[2022-04-23 19:00] matti opened #75 "wrong command in redis example"
but, the binary is created as `./bazel-bin/asylo_redis_sgx_sim`

[2022-04-23 20:48] matti opened #76 "redis example doesn't work on sgx hardware"
[code]

machine is sgx enabled, testing with: https://raw.githubusercontent.com/ayeks/SGX-hardware/master/test-sgx.c

[code]

[2022-10-19 14:26] Kshitij0910 opened #77 "Secure gRPC example not working"
I am not able to execute the gRPC server example.
https://p.ip.fi/Phpc <-- Server terminal
https://p.ip.fi/JVYA <-- Client terminal

I am getting the following error on client terminal
**Method name not found
Failed to find method GetTranslation in proto files.
Method name not found
Method name not found
Failed to parse request.**

Any help is appreciated.